<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /triangle_demo/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /triangle_demo/index.html [L]
</IfModule>
